In [1]:
# importing all the libraries

import numpy as np
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer , CountVectorizer

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
sw = stopwords.words('english')

In [10]:
# read the psoitive data

pos_rev = pd.read_csv('netflix/pos.txt' , sep = '\n' , header = None , encoding='latin-1')
pos_rev['mood'] = 1
pos_rev.rename(columns = {0:'review'}, inplace=True)
pos_rev

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [11]:
# read the negative data

neg_rev = pd.read_csv('netflix/negative.txt' , sep = '\n' , header = None , encoding='latin-1')
neg_rev['mood'] = 0
neg_rev.rename(columns = {0:'review'}, inplace=True)
neg_rev

                                                 review  mood
0                      simplistic , silly and tedious.      0
1     it's so laddish and juvenile , only teenage bo...     0
2     exploitative and largely devoid of the depth o...     0
3     [garbus] discards the potential for pathologic...     0
4     a visually flashy but narratively opaque and e...     0
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[5331 rows x 2 columns]

In [ ]:
#1 .lower
#2. spaces
#3. punctatution
#4. stopwrods
#5. lemmatize

In [17]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
pos_rev['review'] = pos_rev['review'].apply(lambda x : x.lower())
pos_rev['review'] = pos_rev['review'].apply(lambda x : re.sub(r"@\S+", "" , x))
pos_rev['review'] = pos_rev['review'].apply(lambda x : " ".join([word for word in x.split() if word not in string.punctuation]))
pos_rev['review'] = pos_rev['review'].apply(lambda x : " ".join([word for word in x.split() if word not in (sw)]))
pos_rev

                                                 review  mood
0     rock destined 21st century's new conan he's go...     1
1     gorgeously elaborate continuation lord rings t...     1
2                            effective too-tepid biopic     1
3     sometimes like go movies fun wasabi good place...     1
4     emerges something rare issue movie that's hone...     1
...                                                 ...   ...
5326  exuberantly romantic serenely melancholy time ...     1
5327  mazel tov film family's joyous life acting yid...     1
5328  standing shadows motown best kind documentary ...     1
5329    nice see piscopo years chaykin headly priceless     1
5330  provides porthole noble trembling incoherence ...     1

[5331 rows x 2 columns]

In [ ]:
# task - - has to removed (more preprocessing)
# stem / lemma

In [20]:
neg_rev['review'] = neg_rev['review'].apply(lambda x : x.lower())
neg_rev['review'] = neg_rev['review'].apply(lambda x : re.sub(r"@\S+", "" , x))
neg_rev['review'] = neg_rev['review'].apply(lambda x : " ".join([word for word in x.split() if word not in string.punctuation]))
neg_rev['review'] = neg_rev['review'].apply(lambda x : " ".join([word for word in x.split() if word not in (sw)]))
neg_rev

                                                 review  mood
0                             simplistic silly tedious.     0
1     laddish juvenile teenage boys could possibly f...     0
2     exploitative largely devoid depth sophisticati...     0
3     [garbus] discards potential pathological study...     0
4     visually flashy narratively opaque emotionally...     0
...                                                 ...   ...
5326     terrible movie people nevertheless find moving     0
5327  many definitions 'time waster' movie must sure...     0
5328  stands crocodile hunter hurried badly cobbled ...     0
5329       thing looks like made-for-home-video quickie     0
5330                        enigma well-made dry placid     0

[5331 rows x 2 columns]

In [21]:
# concatinate the two data

com_rev = pd.concat([neg_rev , pos_rev] , axis = 0 , ignore_index = True )

In [22]:
com_rev

                                                  review  mood
0                              simplistic silly tedious.     0
1      laddish juvenile teenage boys could possibly f...     0
2      exploitative largely devoid depth sophisticati...     0
3      [garbus] discards potential pathological study...     0
4      visually flashy narratively opaque emotionally...     0
...                                                  ...   ...
10657  exuberantly romantic serenely melancholy time ...     1
10658  mazel tov film family's joyous life acting yid...     1
10659  standing shadows motown best kind documentary ...     1
10660    nice see piscopo years chaykin headly priceless     1
10661  provides porthole noble trembling incoherence ...     1

[10662 rows x 2 columns]

In [23]:
# train test split

X_train , X_test , y_train , y_test = train_test_split(com_rev['review'].values , com_rev['mood'].values ,
                                                      test_size = 0.2 , random_state = 101)

In [26]:
train_data = pd.DataFrame({'review':X_train , 'mood':y_train})
test_data = pd.DataFrame({'review':X_test , 'mood':y_test})

In [27]:
train_data

                                                 review  mood
0         visual spectacle full stunning images effects     1
1                    sweetest thing leaves bitter taste     0
2     hey arnold movie could made 40 years ago paren...     0
3                                 one year's best films     1
4     mendes still quite know fill frame like hanks ...     0
...                                                 ...   ...
8524  possibly since grumpy old men heard film solid...     0
8525  rare find film dazzles eye challenges brain sa...     1
8526                                     poignant funny     1
8527  movie straddles fence escapism social commenta...     0
8528  even green mohawk sheet fire-red flame tattoos...     0

[8529 rows x 2 columns]

In [28]:
test_data

                                                 review  mood
0     many improbabilities rose-colored situations t...     0
1                                 ihops pile much syrup     0
2                     eighth grade girl likely doze one     0
3     directors john musker ron clements team behind...     0
4     post 9/11 philosophical message personal freed...     1
...                                                 ...   ...
2128  woody allen write deliver one liner well anybo...     0
2129  tough astringent darkly funny well also generi...     0
2130                                        masterpiece     1
2131  know precisely make steven soderbergh's full f...     1
2132                      merchant paid attention story     0

[2133 rows x 2 columns]

In [29]:
vectorizer = TfidfVectorizer()
train_vectores = vectorizer.fit_transform(train_data.review)
test_vectores = vectorizer.transform(test_data.review)

In [33]:
len(vectorizer.get_feature_names())

16430

In [ ]:
#svm

#naive abyes - hw

In [31]:
from sklearn import svm
from sklearn.metrics import classification_report

In [32]:
classifer = svm.SVC()
classifer.fit(train_vectores , train_data.mood)

SVC()

In [34]:
pred = classifer.predict(test_vectores)

In [35]:
report = classification_report(test_data.mood , pred , output_dict=True)
report

{'0': {'precision': 0.7486437613019892,
  'recall': 0.7666666666666667,
  'f1-score': 0.757548032936871,
  'support': 1080},
 '1': {'precision': 0.7546251217137293,
  'recall': 0.7359924026590693,
  'f1-score': 0.7451923076923076,
  'support': 1053},
 'accuracy': 0.7515236755743084,
 'macro avg': {'precision': 0.7516344415078593,
  'recall': 0.751329534662868,
  'f1-score': 0.7513701703145893,
  'support': 2133},
 'weighted avg': {'precision': 0.7515965847963926,
  'recall': 0.7515236755743084,
  'f1-score': 0.7514483711072765,
  'support': 2133}}

classification report link - https://blog.clairvoyantsoft.com/churning-the-confusion-out-of-the-confusion-matrix-b74fb806e66

In [36]:
import joblib

joblib.dump(classifer, 'neflix_75.pkl')
joblib.dump(vectorizer, 'vectorizer.pkl')

['vectorizer.pkl']

In [37]:
# flask

vector = joblib.load('vectorizer.pkl')
model = joblib.load('neflix_75.pkl')

In [39]:
data = ['bad movie']

tfidf = vector.transform(data).toarray()
my_pred = model.predict(tfidf)
print(my_pred)

[0]

In [42]:
print(tfidf)

[[0. 0. 0. ... 0. 0. 0.]]

In [ ]:
# -
# stem
# remove numbers
# regex to remove numbers
# naive bayes
# Flask

In [ ]:
data ---> preprocessing ---> vectorizer - > split -->

In [ ]:
spam

twitter sentifier